h1{
    font-family: Arial;
    font-size: 36px;
    text-align: left;
    color: purple;
 }h2{
    font-family: Arial;
    font-size: 32px;
    text-align: left;
    color: rgb(0, 0, 0);
} #texte{
    font-family: Arial;
    font-size: 28px;
    color: rgb(0, 0, 0);
} body {
    background-image:url(pingouin.png),url(feuilles.png) ;
    background-position: center center,top left;
    background-repeat: no-repeat, repeat;
    background-attachment : fixed, scroll ;
}    
